// fontes
$fontPricipal:'Roboto', sans-serif;
// Esquema de cores
$corDaletra:#fff;
$corDeFundo:#f5f6fa;
$corPrimaria:#182C61;
$corSecundaria:#44bd32;
// Breakpoints
$mobile: 767px;
$tablet: 1023px;

